<div class="container mt-4">
    <button class="btn " (click)="mainMenu()">
        <i class="fa-solid fa-arrow-left"></i>
    </button>
    <h4>Customers</h4><hr>
    <table class="table table-bodered table-striped">
        <thead>
            <tr>
                <th>Id</th><th>Name</th><th>Email</th><th>Role</th><th>City</th><th>District</th><th>State</th><th>Pincode</th><th>Operation</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let p of user">
                <td>{{p.id}}</td>
                <td>{{p.username}}</td>
                <td>{{p.useremail}}</td>
                <td>{{p.role}}</td>
                <td>{{p.city}}</td>
                <td>{{p.district}}</td>
                <td>{{p.state}}</td>
                <td>{{p.pincode}}</td>
                <td>
                    <a routerLink="/updateProduct/{{p.id}}">
                        <button class="btn btn-success">Edit</button>
                    </a>
                </td>
                <td>
                    <button class="btn btn-danger"  type="button">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
    </div>
    